<h1>show page</h1>

<h1><%= @portfolio.title %></h1>
<h2><%= @portfolio.subtitle %></h2>
<p><%= @portfolio.body %></p>
<%= image_tag @portfolio.main_img %>

<p><%= link_to "Portfolio Index page", portfolios_path %></p>
